@import "tailwindcss";

@theme {
  --color-primary-50: #f5f8fd;
  --color-primary-100: #aaa9bc;
  --color-primary-150: #061237;
  --color-primary-200: #6246ea;
  --color-primary-250: #f9f8ff;
  --color-primary-300: #e4e7ff;
  --color-primary-350: #dbfce7;
  --color-primary-400: #429667;
  --color-primary-450: #ffe3e2;
  --color-primary-500: #a00c19;
  --color-primary-550: #F19000;
  --color-primary-600: #51B68C;
  --color-primary-650: #518FFF;
  --color-primary-700: #F26B71;
 


}

body {
  background-color: "#FDFDFD";
}

.rdt_Table,
.rdt_TableRow,
.rdt_TableCell {
  border: none !important;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


::-webkit-scrollbar-thumb:hover {
  background:transparent;
}

/* ✅ Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 transparent;
}

